.crypto-wrapper {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .crypto-text {
  position: absolute;
  top: 105px;
} */

.hoverable:hover {
  background: linear-gradient(135.61deg, #f7138f 0%, #fba45a 101.09%);
  border: 0;
}

#section-1-wrapper {
  background: url('../img/section-1.svg');
  background-position: center;
  height: 100vh;
}

#section-2 {
  background-image: url('../img/section-2.svg');
  background-position: center;
}

.footer {
  background-image: url('../img/footer.svg');
  background-position: center;
}

.footer-btn {
  background: #333247;
  border-radius: 50%;
  height: 37px;
  width: 37px;
}

#ido-section {
  background-image: url('../img/ido-section.svg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

#roadmap {
  background-image: url('../img/roadmap.svg');
  /* height: 200vh; */
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

#swap-section {
  background-image: url('../img/swap-section.svg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.hoverable-2:hover {
  background: url('../img/hoverable-bg.svg') no-repeat;
  background-position: 100% 100%;
}
