.crypto-wrapper {
  /* position: relative; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .crypto-text {
  position: absolute;
  top: 105px;
} */

.hoverable:hover {
  background: linear-gradient(135.61deg, #f7138f 0%, #fba45a 101.09%);
  border: 0;
}

.hoverable:hover h2 {
  color: #fff;
  opacity: 0.2;
}

#section-1-wrapper {
  background: url('../img/section-1.svg');
  background-position: center;
  height: 100vh;
}

#section-2 {
  background-image: url('../img/section-2.svg');
  background-position: center;
}

.footer {
  background-image: url('../img/footer.svg');
  background-position: center;
}

.footer-btn {
  background: #333247;
  border-radius: 50%;
  height: 37px;
  width: 37px;
}

#ido-section {
  background-image: url('../img/ido-section.svg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

#roadmap {
  background-image: url('../img/roadmap.svg');
  /* height: 200vh; */
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

#swap-section {
  background-image: url('../img/swap-section.svg');
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.hoverable-2:hover {
  background: url('../img/hoverable-bg.svg') no-repeat;
  background-position: 100% 100%;
}

.glow-bg {
  background: linear-gradient(135.61deg, #f7138f 0%, #fba45a 101.09%);
  border: 0;
}

.roadmap-card {
  background: linear-gradient(
    99.66deg,
    rgba(255, 255, 255, 0.16) -1.18%,
    rgba(255, 255, 255, 0.07) 109.79%
  );
  backdrop-filter: blur(4px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.roadmap-card-sm {
  background: linear-gradient(
    99.66deg,
    rgba(255, 255, 255, 0.16) -1.18%,
    rgba(255, 255, 255, 0.07) 109.79%
  );
  backdrop-filter: blur(4px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.roadmap-wrapper-sm {
  overflow-x: scroll;
  white-space: nowrap;
  width: 100vw;
}
